/* This file contains the resets, variables and mixins  */

/* Variables */
$desktop: 768px;

/*
Min färgpalett:
03071E
370617
6A040F
9D0208
D00000
DC2F02
E85D04
F48C06
FAA307
FFBA08
*/

/* Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: whitesmoke;
}

/* Mixins */
@mixin FlexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin FlexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Mediaqueries mixins */
@mixin for-size($size) {
  @if $size == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}
